<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola {{nombre}},</p>
        <p>Pidi칩 cambiar su contrase침a en la Asociaci칩n Mendocina de Atletismo.</p>
        <p> Por favor, visite el link que se encuentra por debajo.</p>
        <a href="https://{{link}}">Reestablecer Contrase침a</a>
    </body>
</html>